.contact {
  margin-top: 65px;
  width: 1140px;
  height: 318px;
  background-color: #0023c4 !important;
  margin-left: auto;
  margin-right: auto;
}

.contact .contact-title {
  color: white;
  text-align: center;
  padding-top: 35px;
  position: relative;
}

.contact .contact-buttons {
  position: relative;
  margin: 0px 20px;
  margin-top: 50px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact .contact-buttons .contact-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 75px;
}

.contact .contact-buttons .contact-button:hover {
  border-color: white;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
