nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 65px;
  color: rgb(48, 8, 82);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.logo {
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style-type: none;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.808);
  letter-spacing: 2px;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.781);
}
