.footer {
  margin: 5px 5px;
  margin-top: 35px;
  padding: 0px 25px;
}

.footer .footerColumns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footerColumns div {
  width: 25%;
  justify-content: center;
}
.footer .footerColumns div ul {
  padding-left: 30%;
}
.footer .footerColumns h5 {
  text-align: center;
}
.footer .footerColumns .getInTouch {
  display: flex;
  flex-direction: column;
}

.footer .copyRight {
  margin-top: 25px;
  font-size: 10px;
  text-align: center;
}
